<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="admin">
      <%= link_to "Admin Dashboard", admin_path %>
      <%= link_to "Admin Merchants Index", admin_merchants_path %>
      <%= link_to "Merchants Index", merchants_path %>
    </header class="admin">
    <ul id="flash-messages" >
    <% flash.each do |notice, message| %>
      <li><%= message %></li>
    <% end %>
    </ul>

    <%= yield %>
  </body>

  <footer>
    <%= render 'concerns/api' %>
  </footer>
</html>
